* {
  margin: 0;
  padding: 0;
}

#qzad {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 550px;
}

#bg {
  background: transparent url('../images/bg.jpg') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 550px;
}

#tagline {
  background: transparent url('../images/tagline.png') no-repeat;
  position: absolute;
  top: -8px;
  left: 158px;
  width: 316px;
  height: 131px;
}

#logo {
  background: transparent url('../images/logo.png') no-repeat;
  position: absolute;
  top: 0;
  left: 31px;
  width: 56px;
  height: 92px;
}

#copy {
  background: transparent url('../images/copy.png') no-repeat;
  position: absolute;
  top: 376px;
  left: 30px;
  width: 421px;
  height: 96px;
}

#watch-now-button {
  background: transparent url('../images/watch-now-button.png') no-repeat;
  cursor: pointer;
  position: absolute;
  top: 493px;
  left: 31px;
  width: 110px;
  height: 27px;
}

#video-wrapper {
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: -550px;
  left: 0;
  width: 480px;
  height: 550px;
  object, iframe {
    margin-top: -135px;
    position: absolute;
    top: 50%;
  }
}

#x {
  background: transparent url('../images/x.png') no-repeat;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 41px;
  height: 41px;
}

#final-frame {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 550px;
}

#final-bg {
  background: transparent url('../images/final-bg.jpg') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#final-logo {
  background: transparent url('../images/logo.png') no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 403px;
  width: 56px;
  height: 76px;
}

#final-tagline {
  background: transparent url('../images/final-tagline.png') no-repeat;
  position: absolute;
  top: 29px;
  left: 32px;
  width: 241px;
  height: 40px;
}

#final-button {
  background: transparent url('../images/final-button.png') no-repeat;
  position: absolute;
  top: 419px;
  left: 32px;
  width: 135px;
  height: 33px;
  a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#final-copy {
  background: transparent url('../images/final-copy.png') no-repeat;
  position: absolute;
  top: 187px;
  left: 30px;
  width: 386px;
  height: 176px;
}