body { margin: 0; }

#qzad { position: absolute; width: 100%; height: 430px; min-width: 320px; max-width: 600px; overflow: hidden; background-color: white; }
#qzad .logo { position: absolute; top: 0px; right: 5%; width: 7.08333%; }
#qzad .logo img { width: 100%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .logo { width: 12.8125%; } }
#qzad .marketing { position: absolute; top: 30px; left: 5%; width: 32.41%; }
#qzad .marketing img { width: 100%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .marketing { width: 51.25%; } }
#qzad .frame-start { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url(../images/bg.jpg) center center no-repeat; background-size: cover; }
#qzad .frame-start.show { display: block; }
#qzad .frame-start .copy { position: absolute; bottom: 66.5px; left: 1.6666%; width: 71.16666%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-start .copy { top: 237px; width: 89.0625%; } }
#qzad .frame-start .copy img { width: 100%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-start .copy img.copy-600 { display: none; } }
#qzad .frame-start .copy img.copy-320 { display: none; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-start .copy img.copy-320 { display: block; } }
#qzad .frame-start .cta { position: absolute; left: 5%; bottom: 30px; width: 20.4166%; }
#qzad .frame-start .cta img { width: 100%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-start .cta { width: 37.8125%; } }
#qzad .frame-end { display: none; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: url(../images/bg-final.jpg) no-repeat center center; background-size: cover; }
#qzad .frame-end.show { display: block; }
#qzad .frame-end .copy-final { position: absolute; bottom: 133px; left: 5%; width: 66%; }
#qzad .frame-end .copy-final img { width: 100%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-end .copy-final img.copy-600 { display: none; } }
#qzad .frame-end .copy-final img.copy-320 { display: none; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-end .copy-final img.copy-320 { display: block; } }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-end .copy-final { width: 60.625%; } }
#qzad .frame-end .cta-final { position: absolute; left: 5%; bottom: 77px; width: 20.4166%; }
#qzad .frame-end .cta-final img { width: 100%; }
@media only screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) { #qzad .frame-end .cta-final { width: 37.8125%; } }
#qzad .video-container { position: absolute; z-index: 101; top: 0; right: 0; bottom: 0; left: 0; background-color: black; display: none; }
#qzad .video-container .video { width: 100%; height: 100%; }
#qzad .video-container .x { color: white; position: absolute; top: 0; right: 0; font-size: 30px; width: 30px; height: 30px; cursor: pointer; }
