body {
	margin: 0;
}
a {
	display: block;
}
img {
	width: 100%;
}
#qzad {
	position: absolute;
	width: 320px;
	height: 150px;
	overflow: hidden;
	background-color: white;

	.frame-start {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../images/bg.jpg) no-repeat center center;
		background-size: cover;

		&.show {
			display: block;
		}
		.marketing {
			position: absolute;
			top: 10px;
			right: 9px;
			width: 149px;
		}
		.logo {
			position: absolute;
			top: 0;
			left: 10px;
			width: 32px;
		}
		.copy {
			position: absolute;
			bottom: 1px;
			left: 1px;
			width: 212px;
		}
		.cta {
			position: absolute;
			right: 9px;
			bottom: 10px;
			width: 90px;
		}
	}
	.frame-end {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url(../images/bg-final.jpg) no-repeat center center;
		background-size: cover;

		&.show {
			display: block;
		}
		.marketing-final {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 154px;
		}
		.logo-final {
			position: absolute;
			top: 0;
			left: 15px;
			width: 32px;
		}
		.copy-final {
			position: absolute;
			bottom: 15px;
			left: 15px;
			width: 184px;
		}
		.cta-final {
			position: absolute;
			right: 15px;
			bottom: 14px;
			width: 90px;
		}
	}
	.video-container {
		position: absolute;
		z-index: 101;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: black;
		display: none;

		.video {
			width: 100%;
			height: 100%;
		}
		.x {
			color: white;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 30px;
			width: 30px;
			height: 30px;
			cursor: pointer;
		}
	}
}